:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}

h1,
h2,
h3,
a {
  text-align: center;
}

img {
  max-width: 33%;
  height: auto;
  display: block;
  margin: auto;
  float: left
}

/* img.model {
  float:left
} */

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--button-bg-color);
  color: var(--button-color);

  margin: auto;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: block;
  width: auto;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}

button.reset {
  /* float: left; */
  --button-bg-color: #28a745;
  --button-hover-bg-color: #218838;
  /* max-width: 33%; */
}

button.view {
  /* float: right; */
  /* max-width: 50%; */
  /* margin: auto; */
  /* right: 50; */
  --button-bg-color: hsl(220, 80%, 55%);
  --button-hover-bg-color: hsl(220, 80%, 55%);
}


button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}

button:disabled {
  opacity: 0.5;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 50%; */
}

body {
  margin: 0;
  background: #eee;
}


div.button {
  display: grid;
  grid-template-columns: 350px 300px 350px;
}

p {
  text-indent: 4em;
}