<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Try-Online</title>
    <link rel="stylesheet" href="{{url_for('static', path='style.css')}}">
</head>
<body>
    <h1>Try On</h1>
    <div id="description">使用说明：
        <p>1. 点击 `reset model` 可以随机切换模特（当前不支持自定义模特）</p>
        <p>2. 点击 `选择文件` 上传服装图片并提交</p>
        <p>3. 点击 `Generate Image` 生成试穿后的图片</p>
    </div>
    <br>
        
    <div class="button">
        <button class="reset" onclick="location.href='./reset_model'">reset model</button>
        <form action="./upload" method="POST" enctype = "multipart/form-data">
            <input type = "file" name = "file" id="File"/>
            <input type = "submit"/>
        </form>

        {% if not upload_ok %}
        <button class="view" disabled>Generate Image</button>
        {% else %}
        <button class="view" onclick="location.href='./view'">Generate Image</button>
        {% endif %}


    </div>
    <br>
    <div>
        <img class="model" src="{{url_for('static', path='current_model.jpg')}}">
    {% if upload_ok %}
    
        <img class="cloth" src="{{url_for('static', path='tmp.jpg')}}">
    {% endif %}
        
    <!-- <div class="image-show" id="image-show"></div> -->
        
    
    {% if gen_ok %}
        <img class="finalimg" src="{{url_for('static', path='finalimg.png')}}">
    {% endif %}
    </div>

    <script src="{{url_for('static', path='index.js')}}"></script>
</body>
</html>
